body {
	font-family: sans-serif;
	padding: 20px;
	max-width: 1200px;
	margin: auto;
	background-color: #121212;
	color: #f0f0f0;
}

#container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#add-object {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #1f1f1f;
	color: #ffffff;
	border: 1px solid #333;
	cursor: pointer;
}

#add-object:hover {
	background-color: #333;
}

.object {
	border-radius: 8px;
	border: 1px solid #333;
	padding: 10px;
	background-color: #1e1e1e;
	cursor: pointer;
	transition: background 0.3s;
	box-shadow: 0 0 10px #000;
}

.object:hover {
	background-color: #2a2a2a;
}

.dropdown {
	border-radius: 8px;
	position: relative;
	margin-top: 10px;
	padding: 10px;
	background-color: #2b2b2b;
	display: none;
	flex-direction: column;
	border: 1px solid #444;
	white-space: pre-line;
}

.dropdown-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.dropdown-btn {
	padding: 4px 8px;
	background-color: #444;
	color: #fff;
	border: 1px solid #555;
	border-radius: 4px;
	cursor: pointer;
	font-size: 0.8em;
	transition: background-color 0.2s;
}

.dropdown-btn:hover {
	background-color: #666;
}

.see-team-btn {
	align-self: flex-start;
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #1f1f1f;
	color: #ffffff;
	border: 1px solid #333;
	cursor: pointer;
	font-size: 0.9em;
	border-radius: 4px;
	transition: background-color 0.2s;
}

.see-team-btn:hover {
	background-color: #333;
}

.sub-dropdown {
	border-radius: 8px;
	margin-top: 10px;
	padding: 10px;
	background-color: #3a3a3a;
	display: none;
	border: 1px solid #555;
	white-space: pre;
}

.no-reports {
	text-align: center;
	font-size: 1.2em;
	color: #888;
	margin-top: 20px;
}
